name: Assign Milestone on Issue Creation
on:
  issues:
    types: [labeled]
jobs:
  assign_milestone:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Assign Milestone
        run: |
          # Get the issue label
          ISSUE_LABEL=$(jq --raw-output .issue.labels[0].name "$GITHUB_EVENT_PATH")

          # Trim leading and trailing whitespace from the label
          ISSUE_LABEL=$(echo "$ISSUE_LABEL" | awk '{$1=$1};1')

          # Assign the milestone to the issue
          API_URL="https://api.github.com/repos/${{ github.repository }}/milestones"
          MILESTONE=$(curl -s -X GET -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "$API_URL" | jq --arg label "$ISSUE_LABEL" -r '.[] | select(.title == $label) | .number')

          if [[ -z "$MILESTONE" ]]; then
            echo "No matching milestone found for label: $ISSUE_LABEL"
            exit 0
          fi

          API_URL="https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}"
          curl -s -X PATCH -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" -H "Content-Type: application/json" -d "{\"milestone\": $MILESTONE}" "$API_URL"
