on:
  issues:
    types: [labeled]
jobs:
  assign-milestone:
    runs-on: ubuntu-latest
      
    steps:
      - uses: actions/checkout@v3

      - name: Get labels
        run: |
          gh api -q "/repos/Stardust-Labs-MC/wiki/issues/${GITHUB_ISSUE_ID}/labels" | jq -r '.[].name' > labels.txt

      - name: Get milestones
        run: |
          gh api -q "/repos/Stardust-Labs-MC/wiki/milestones" | jq -r '.[].title' > milestones.txt

      - name: Assign milestone
        run: |
          env:
            labels: ${{ steps.get-labels.outputs.labels }}
            milestones: ${{ steps.get-milestones.outputs.milestones }}
          for label in ${{ env.labels }}; do
            for milestone in ${{ env.milestones }}; do
              if [[ "$label" == "<span class="math-inline">milestone" \]\]; then
                gh api -X patch "/repos/Stardust-Labs-MC/wiki/issues/{GITHUB_ISSUE_ID}" -f '{"milestone": "'"$milestone"'"}'
              fi
            done
          done
